EUREKA_URL=http://localhost:8761/eureka/
EUREKA_HOSTNAME=localhost
KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/zomato-realm
FRONTEND_URL=http://localhost:4200
USER_DB_URL=jdbc:h2:mem:zomatodb;DB_CLOSE_DELAY=-1
REVIEW_DB_URL=jdbc:h2:mem:zomatodb;DB_CLOSE_DELAY=-1
RESTAURANT_DB_URL=jdbc:h2:mem:testdb
RECOMMENDATION_DB_URL=jdbc:postgresql://localhost:5432/zomatodb
ELASTICSEARCH_URL=http://localhost:9200
GEMINI_API_KEY=your_gemini_api_key_here
